@tailwind base;
@tailwind components;
@tailwind utilities;

/* Text Slide-In Animation */
@keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  .slide-in-left {
    animation: slideInLeft 1s ease-out forwards;
  }
  
  /* Fade-In Animation */
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .fade-in {
    animation: fadeIn 2s ease-in forwards;
  }
  
  /* Cake Bounce Animation */
  @keyframes bounceIn {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
  
  .cake-bounce {
    animation: bounceIn 1.5s ease-in-out forwards;
  }

  
  /* Custom bounce animation on hover */
@keyframes hoverBounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  .hover-bounce {
    transition: transform 0.3s ease-in-out;
  }
  
  .hover-bounce:hover {
    animation: hoverBounce 0.5s;
  }

  .error-toast {
    padding: 8px 8px !important; 
    border-radius: 20px !important; 
    background-color: white !important;
    color: red !important;  
    min-height: auto !important; 
    line-height: 1.2 !important;  
  }

  .default-toast {
    padding: 8px 8px !important; 
    border-radius: 20px !important; 
    background-color: #fbcfe8 !important;
    color: black !important;  
    min-height: auto !important; 
    line-height: 1.2 !important;  
  }

